.page-footer {
  margin-bottom: -20px;
  background-color: black;

  }

.page-footer i {
  color: rgb(250, 2, 2);
}

.page-footer span {
  color: #E0A800;
}

.page-footer a {
  text-decoration: none;
}